$primary-color: #a5b690;
$text-color: #000;
$link-color: #34392d;
$link-color-hover: #96a582;

body {
    box-sizing: border-box;
    background: $primary-color url("../imgs/bg.png") repeat;
    font-family: "Schoolbell", serif;
    font-size: 2em;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

// Global styles

h1 {
    font-size: 1.4em;
}

a {
    font-family: 'Schoolbell', arial, serif;
    color: $link-color;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    padding: 5px;

}

a:hover {
    // border: 1px solid black;
}

.hidden {
    display: none;
}

// Main layout

.container {
    margin: 0 auto;
    max-width: 500px;
}

.panel {
    margin-bottom: 20px;
}

// Components

.ctrl {
    border-bottom: 5px solid #537b55;
    background-color: rgba(0, 0, 0, 0.14);
    padding: 10px;
}

.stats {
    display: flex;
}

.stats div {
    flex: 1;
}

.stats span {
    font-family: 'Lobster', arial, serif;
    font-size: 4em;
    color: white;
}

.stats  span {
    display: block;
    text-align: center;
}

// Answer form

.answer {
    outline: 0;
    border: 4px solid #d1d1d1;
    padding: 10px;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    font-family: 'Inconsolata', arial, serif;
}

// Answers list

.answers {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 0.8em;
}

.answers li {
    // color: #ddd;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    padding: 10px;
    transition: background 0.2s;
    margin-bottom: 10px;
    // display: flex;
    // justify-content: space-between;
}

.answers li.bad {
    background-color: #d85b50;
}

.answers li.good {
    background-color: #3fa244;
}

#timer-holder {
    font-family: 'Lobster', arial, serif;
    font-size: 270px;
    line-height: 230px;
    position: absolute;
    right: 40px;
    top: 40px;
    color: white;
}
