body {
  box-sizing: border-box;
  background: #a5b690 url("../imgs/bg.png") repeat;
  font-family: "Schoolbell", serif;
  font-size: 2em; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a {
  font-family: 'Schoolbell', arial, serif;
  color: #34392d;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 5px; }

.container {
  margin: 0 auto;
  max-width: 500px; }

.panel {
  margin-bottom: 20px; }

.ctrl {
  border-bottom: 5px solid #436f3d;
  background-color: rgba(0, 0, 0, 0.14);
  padding: 10px; }

.stats {
  display: flex; }

.stats div {
  flex: 1; }

.stats span {
  font-family: 'Lobster', arial, serif;
  font-size: 4em;
  color: white; }

.stats span {
  display: block;
  text-align: center; }

.answer {
  outline: 0;
  border: 4px solid #d1d1d1;
  padding: 10px;
  font-size: 0.9em; }

.answers {
  margin: 0;
  padding: 0;
  position: relative; }

.answers li {
  background: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between; }

.answers li.bad {
  background: linear-gradient(to top, #ff5060 0%, #ffa9a4 100%); }

.answers li.good {
  background: linear-gradient(to top, #88ff99 0%, #bbffb8 100%); }

#timer-holder {
  font-family: 'Lobster', arial, serif;
  font-size: 270px;
  line-height: 230px;
  position: absolute;
  right: 40px;
  top: 40px;
  color: white; }
